{% extends 'base.html' %}

{% block content %}

<section class="contact-section section-padding pt-0">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <div class="section-title-wrap mb-5">
                        </div>

                        <p>Thanks for registering! Check your email ({{ email }}) for the activation link.</p>
                    
                    </div>

                </div>
            </div>
        </section>

{% endblock %}
