{% extends 'base_2.html' %}

{% block content %}


<section class="contact-section section-padding pt-0">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <div class="section-title-wrap mb-5">
                            <h5 style="color:green">Password Reset Complete</h5>
                        </div>

                         <a href="{% url 'login' %}" class="btn custom-btn smoothscroll mt-3">
                            <i>Login</i>
                        </a>



                    </div>

                </div>
            </div>
        </section>


{% endblock %}


